<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration>-->
    <!--<property name="APP_NAME" value="order"/>-->
    <!--<property name="LOG_HOME" value="/log/${APP_NAME}"/>-->
    <!--<property name="PATTERN" value="%d{yyyy-MM-dd  HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n"/>-->
    <!--<property name="MAX_HISTORY" value="30"/>-->
    <!--<property name="MAX_FILE_SIZE" value="10MB"/>-->
    <!--<property name="TOTAL_SIZE_CAP" value="1GB"/>-->

    <!--<appender name="TRACE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
            <!--<FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/trace.%i.log</FileNamePattern>-->
            <!--<maxHistory>${MAX_HISTORY}</maxHistory>-->
            <!--<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>-->
            <!--<totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>${PATTERN}</pattern>-->
        <!--</encoder>-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>TRACE</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    <!--</appender>-->

    <!--<appender name="DEBUG_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
            <!--<FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/debug.%i.log</FileNamePattern>-->
            <!--<maxHistory>${MAX_HISTORY}</maxHistory>-->
            <!--<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>-->
            <!--<totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>${PATTERN}</pattern>-->
        <!--</encoder>-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>DEBUG</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    <!--</appender>-->

    <!--<appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
            <!--<FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/info.%i.log</FileNamePattern>-->
            <!--<maxHistory>${MAX_HISTORY}</maxHistory>-->
            <!--<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>-->
            <!--<totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>${PATTERN}</pattern>-->
        <!--</encoder>-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>INFO</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    <!--</appender>-->

    <!--<appender name="WARN_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
            <!--<FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/warn.%i.log</FileNamePattern>-->
            <!--<maxHistory>${MAX_HISTORY}</maxHistory>-->
            <!--<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>-->
            <!--<totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>${PATTERN}</pattern>-->
        <!--</encoder>-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>WARN</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    <!--</appender>-->

    <!--<appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
            <!--<FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/error.%i.log</FileNamePattern>-->
            <!--<maxHistory>${MAX_HISTORY}</maxHistory>-->
            <!--<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>-->
            <!--<totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>${PATTERN}</pattern>-->
        <!--</encoder>-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>ERROR</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    <!--</appender>-->

    <!--<appender name="STDOUT_LOG" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoder>-->
            <!--<Pattern>${PATTERN}</Pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--<root level="INFO_LOG">-->
        <!--<appender-ref ref="TRACE_LOG"/>-->
        <!--<appender-ref ref="DEBUG_LOG"/>-->
        <!--<appender-ref ref="INFO_LOG"/>-->
        <!--<appender-ref ref="WARN_LOG"/>-->
        <!--<appender-ref ref="ERROR_LOG"/>-->
        <!--<appender-ref ref="STDOUT_LOG"/>-->
    <!--</root>-->
<!--</configuration>-->