<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.framework.order.dao.mapper.OrderMapper">
    <select id="get"
            resultType="com.framework.order.dao.entity.OrderEntity">
        select * from t_order
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            AND enable_flag = 1
        </where>

    </select>

    <select id="query" parameterType="com.framework.order.dao.param.OrderQueryParam"
            resultType="com.framework.order.dao.entity.OrderEntity">
        select * from t_order
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            AND enable_flag = 1
        </where>
    </select>
</mapper>